/* body {
  text-align: center;
  background-color: #212121;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
}

.form-group {
  padding-left: 300px;
  padding-right: 300px;
}

.heading {
  text-align: center;
  padding-right: 380px;
}

.forgot-password {
  padding: 0%;
} */
